<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:label="Noodverlichting Companion"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Noodverlichting"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <activity
            android:name="nl.mikekemmink.noodverlichting.noodverlichting.LocationListActivity"
            android:exported="false"
            android:parentActivityName=".noodverlichting.NoodverlichtingActivity" />

        <activity
            android:name="nl.mikekemmink.noodverlichting.noodverlichting.FixtureListActivity"
            android:exported="false"
            android:parentActivityName=".noodverlichting.LocationListActivity" />

        <activity android:name=".noodverlichting.columns.ColumnSettingsActivity" />
        <activity
            android:name="nl.mikekemmink.noodverlichting.noodverlichting.AddDefectActivity"
            android:exported="false" />

        <activity
            android:name=".noodverlichting.DefectListActivity"
            android:exported="false"/>
        <activity
            android:name="nl.mikekemmink.noodverlichting.nen3140.MeasurementsActivity"
            android:exported="false"
            android:parentActivityName=".noodverlichting.NoodverlichtingActivity" />

        <activity android:name=".nen3140.StroomOverzichtActivity" />

        <!-- 1) Nieuwe launcher activity -->
        <activity
            android:name=".ui.SelectInspectionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2) NEN3140 dashboard -->
        <activity
            android:name=".nen3140.Nen3140Activity"
            android:exported="false"
            android:parentActivityName=".ui.SelectInspectionActivity" />

        <!-- 3) Noodverlichting hoofdscherm (na hernoemen van MainActivity) -->
        <activity
            android:name=".noodverlichting.NoodverlichtingActivity"
            android:exported="false"
            android:parentActivityName=".ui.SelectInspectionActivity" />

        <activity android:name=".nen3140.NenLocationListActivity" />
        <activity android:name=".nen3140.NenBoardsActivity" />
        <activity android:name=".nen3140.DefectsActivity" />

    </application>

</manifest>
